body{
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    background: #eeeeee;
}
h1 {
    font-size: 2em;
    margin: 0.2em 0;
}
a{
    color: #ee4723;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}

*{
    margin:0;
    padding:0;
}
ul li{
    margin:0;
    padding:0;
    list-style: none;
}
.head{
    padding: 5px 0;
    margin-bottom: 20px;
    border-color: #e4e4e4;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
    width: 100%;
    background: white;
}
.head .header, .container{    width: 1024px;
    margin: 0 auto;}
.head .header .logo{    float: left;}
.head .header .logo img{
    max-height: 44px;
}
.head .header .menu{    float: right;}
.head .header .menu ul{}
.head .header .menu ul li{    float: left;
}
.head .header .menu ul li a{
    background-color: #ee4723;
    line-height: 54px;
    /* font-size: 1.4rem; */
    padding: 18px 18px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: solid #fff;
    border-width: 0 1px 1px 0;
}
.head .header .menu ul li.active, .head .header .menu ul li:hover{

}
.head .header .menu ul li.active a, .head .header .menu ul li:hover a{
    color: #ee4723;
    background-color: #fedd7a;
}
.head .header .menu ul li.active a i, .head .header .menu ul li:hover a i{
    color:black;
}

/**
* 内容区域
*/
.wrap{}

/**
* 面包屑
*/
.breadcrumb{    width: 100%;
    float: left;}
.breadcrumb li{
    float: left;
    padding: 0 3px;
}
.breadcrumb li.active{}
.breadcrumb li a{}
.breadcrumb li span{
    margin-left: 3px;
    font-size:12px;
}

button{
    font-size: 24px;
    padding: 5px 25px;
    line-height: 30px;
    display: inline-block;
    background-color: #ffc81f;
    color: #ffffff;
    border: none;
}
/**
*创建文章
*/
.post{
    float:left;
    width: 100%;
}
.post-form{
    background-color: white;
    width: 100%;
    margin: 0 auto;
    /* padding: 0 5%; */
    border-top: 2px solid #ebebeb;
}
.form-container{
    padding: 1em;
}
.post-form input{}
.post-form .form-group{
    min-height: 30px;
    float: left;
    width: 100%;
    margin: 0.25em;
    line-height: 30px;
}
.post-form .form-group .help-block{
    float: left;
    color: red;
    width: 15%;
    margin-left: 1%;
}
.post-form .form-group select.form-control{
    width: 20%;
    height: 30px;
}
.post-form .form-group .control-label{
    float: left;
    width: 10%;
    text-align: right;
    margin-right: 2.5%;
}
.post-form .form-group .form-control{
    float:left;
    width:70%;

}
.post-form .form-group input.form-control{
    height: 30px;
    border: 1px solid #FEDD7A;
}
.post-form .form-group textarea{}
.post-form .form-group button{

}


/**
* footer
*/
.footer{
    background-color: white;
    margin: 20px 0 0;
    padding: 10px 0;
}
.footer .footer-us{}
.footer .footer-us ul{
    float: left;
    width: 100%;
}
.footer .footer-us ul li{
    float: left;
    padding-right: 24px;
}
.footer .footer-us ul li a{
    color:black;
}
.footer .footer-us ul li a:hover{
    color:#ee4723;
}
.footer-copyright{    font-size: 14px;
    float: left;
    margin: 4px 0;}