body{
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", Heiti, "黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    background: white;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}

*{
    margin:0;
    padding:0;
}
ul li{
    margin:0;
    padding:0;
    list-style: none;
}
.head{
    padding: 5px 0;
    margin-bottom: 20px;
    border-color: #e4e4e4;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.175);
    width: 100%;
}
.head .header, .container{    width: 1024px;
    margin: 0 auto;}
.head .header .logo{    float: left;}
.head .header .logo img{
    max-height: 44px;
}
.head .header .menu{    float: right;}
.head .header .menu ul{}
.head .header .menu ul li{    float: left;
}
.head .header .menu ul li a{
    background-color: #ee4723;
    line-height: 54px;
    /* font-size: 1.4rem; */
    padding: 18px 18px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border: solid #fff;
    border-width: 0 1px 1px 0;
}
.head .header .menu ul li.active, .head .header .menu ul li:hover{

}
.head .header .menu ul li.active a, .head .header .menu ul li:hover a{
    color: #ee4723;
    background-color: #fedd7a;
}
.head .header .menu ul li.active a i, .head .header .menu ul li:hover a i{
    color:black;
}
